.app-shell {
  height: 100%;
  width: 100%;
}

.canvas-board {
  height: 100%;
  width: 100%;
}

.canvas-board__surface {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #05070f;
}
